@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.margin {
  margin: 130px;
}
.display {
  display: flex;
}

.text-primary {
  color: #e95a08;
}

.text-gray {
  color: #8987a1;
}

/*Navbar*/

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin: 30px;
}
.nav-link {
  text-decoration: none;
}

/*banner*/
.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.banner,
.navbar,
.header {
  margin: 0 auto;
  max-width: 1440px;
}
.banner {
  padding: 170px;
}
.paragraph {
  padding-right: 50px;
}

/*maim*/
main > section {
  margin-top: 70px;
}
.text {
  text-align: center;
}
.letter {
  margin: 5px;
}
.card {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bnt-primary {
  background-color: #e95a08;
  color: #ffffff;
  margin: 10px;

  border: none;
  padding: 5px;
  width: 278px;
  gap: 20px;
}

.third {
  align-items: center;
  margin-left: 130px;
}
.flower {
  font-size: 2rem;
  font-weight: 700;
}
.list {
  margin-top: 30px;
}

/*latest item*/
.latest {
  text-align: center;
}

.picture {
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  gap: 20px;
}

.last {
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}
