@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
}

.text {
  color: #252432;
  font-weight: bold;
}
.new {
  font-size: 2rem;
}
.margin {
  margin: 130px;
}
.display {
  display: flex;
}

.text-primary {
  color: #e95a08;
}

.text-gray {
  color: #8987a1;
}

/*Navbar*/
.hidden {
  display: flex;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin: 30px;
}
.nav-link {
  text-decoration: none;
}

/*banner*/
.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.banner,
.navbar,
.header,
.image {
  margin: 0 auto;
  max-width: 1440px;
}
.banner {
  justify-content: space-between;
}
.paragraph {
  padding-right: 50px;
}

/*maim*/
main > section {
  margin: 0 auto;
  max-width: 1440px;
}
.text {
  text-align: center;
}
.letter {
  margin: 5px;
  text-align: center;
}
.design {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/*.card img {
  width: 100%;
}
  */
.card img {
  gap: 10px;
}
.bnt-primary {
  background-color: #e95a08;
  color: #ffffff;

  border: none;
  padding: 5px;
  width: 278px;
  gap: 20px;
}
.image {
  justify-content: space-between;
}
.third {
  align-items: center;
  padding-right: 30px;
}
.flower {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 170px;
}
.list {
  margin-top: 30px;
}

.badge {
  max-height: 1px;
  max-width: 1px;

  position: relative;
  position: absolute;
}
/*latest item*/
.section {
  background-image: url(../assets/news-letter-bg.png);
}
.latest {
  text-align: center;
  width: 100%;
}

/*.picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}
*/
.picture {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 533px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.join {
  padding-top: 200px;
  font-size: 2rem;
  font-weight: bold;
}

.blank {
  width: 70%;
  background-color: #ffffff;
}
h1 {
  text-align: center;
}
input {
  max-width: 640px;
  padding: 26px 0px 20px 20px;
  width: 80%;
  font-size: 1rem;
}
.class {
  background-color: #ffffff;
}
.last {
  max-width: 186px;
  padding: 26px 50px;
  border: none;
  width: 20%;
}

.fact {
  align-items: center;
}
.bg-text {
  color: #ffffff;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 576px) {
  .navbar,
  .banner {
    flex-direction: column;
    grid-template-areas: ;
  }
  .hidden {
    display: none;
  }
  .image {
    flex-direction: column;
  }
  .design {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
